<div class="d-flex flex-column container comingsoon" @explainerAnim>
  <div
    class="d-flex flex-column justify-content-center text-center align-middle my-auto anim"
  >
    <div class="row title">
      <span class="mx-auto">coming soon.</span>
    </div>
    <div class="d-flex row justify-content-center timer mt-3">
      <div class="timeGroup mr-5 pr-3">
        <div class="row">
          <div class="col">
            <div class="row number" id="days">00</div>
            <div class="row time"><span class="mx-auto">days</span></div>
          </div>
        </div>
      </div>
      <div class="timeGroup mr-5 pr-3">
        <div class="row">
          <div class="col">
            <div class="row number" id="hours">00</div>
            <div class="row time"><span class="mx-auto">hours</span></div>
          </div>
        </div>
      </div>
      <div class="timeGroup mr-5 pr-3">
        <div class="row">
          <div class="col">
            <div class="row number" id="mins">00</div>
            <div class="row time"><span class="mx-auto">minutes</span></div>
          </div>
        </div>
      </div>
      <div class="">
        <div class="row">
          <div class="col">
            <div class="row number" id="secs">00</div>
            <div class="row time"><span class="mx-auto">seconds</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex flex-row links justify-content-center my-5">
    <div class="mr-3 align-self-center link p-1">
      <a href="https://www.instagram.com/ss.vsns/">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
    <div class="mr-3 align-self-start p-1" id="vsns">
      <a><img width="50px" src="assets/logo.png" /></a>
    </div>
    <div class="align-self-center link p-1">
      <a href="mailto:info@vsns.ca"><i class="far fa-envelope"></i></a>
    </div>
  </div>
</div>
