#site {
    height: 100vh;
    background:linear-gradient(#255866, #1A1A1A);
    color: #F2F2F2;
    font-family: ivypresto, serif;
    font-style: normal;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
}

@font-face {
    font-family: ivypresto;
    src : url('./assets/fonts/IvyPresto\ Headline\ Semi\ Bold.otf')
}